{% extends "base.html" %} {% block main %} {% block title %}
<title>Create Team</title>
{% endblock title %}

<!-- Multi Columns Form -->
<form
  class="row g-3"
  method="POST"
  action="{{ url_for('create') }}"
  enctype="multipart/form-data"
>
  <div class="col-md-12">
    <label for="teamname" class="form-label">Team Name</label>
    <input type="text" name="teamname" class="form-control" id="teamname" />
  </div>
  <div class="col-md-12">
    <label for="teambio" class="form-label">Team Bio</label>
    <textarea
      id="teambio"
      class="form-control"
      style="height: 100px"
      name="teambio"
    ></textarea>
  </div>
  <div class="col-md-6">
    <label for="teamcountry" class="form-label">Country</label>
    <select id="teamcountry" class="form-select" name="countryid">
      <option selected value="">Choose...</option>
      {% for country in countries %}
      <option value="{{ country.id }}">{{ country.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-6">
    <label for="teamcity" class="form-label">City</label>
    <select id="teamcity" class="form-select" name="cityid">
      <option selected value="">Choose...</option>
      {% for city in cities %}
      <option value="{{ city.id }}">{{ city.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-12">
    <label for="teamsport" class="form-label">Sport</label>
    <select id="teamsport" class="form-select" name="sportid">
      <option selected value="">Choose...</option>
      {% for sport in sports %}
      <option value="{{ sport.id }}">{{ sport.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-12">
    <label for="teamlogo" class="col-sm-2 col-form-label">Upload Logo</label>
    <div class="col-sm-10">
      <input class="form-control" name="teamlogo" type="file" id="teamlogo" />
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Create Team</button>
  </div>
</form>

{% endblock main %} {% block script %} {% endblock %}
