<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    {% block title %}
    <title>Dashboard</title>
    {% endblock title %}
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Logo -->
    <link
      href="{{ url_for('static', filename='images/app_logo.png') }}"
      rel="icon"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />

    <!-- Template Main CSS File -->
    <link
      href="{{ url_for('static', filename='styles/login.css') }}"
      rel="stylesheet"
    />

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- JS -->
    <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>

    {% block style %} {% endblock style %}
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        {% if current_user.is_authenticated %}
        <i class="bi bi-list toggle-sidebar-btn"></i>
        <a
          href="{{ url_for('signout', next=url_for('landing_page')) }}"
          class="logo d-flex align-items-center"
        >
        {% else %} 
        <a
          href="{{ url_for('landing_page') }}"
          class="logo d-flex align-items-center"
        >
        {% endif %}
          <img
            src="{{ url_for('static', filename='images/app_logo.png') }}"
            alt=""
          />
          <span class="d-none d-lg-block">TeamZone</span>
        </a>
      </div>
      <!-- End Logo -->

      <nav class="header-nav ms-auto">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('landing_page') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('landing_page') }}#features">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('landing_page') }}#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('landing_page') }}#contributors">Contributors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{ url_for('search') }}">Start</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
    <style>
      @media (min-width: 1200px) {
        #main,
        #footer {
          margin-left: 0px;
        }
      }
    </style>

    <<div class="main">
      <div class="details" style="margin-top: 10px;">
        <h2>Join Us! Registerd or Unknown</h2>
        <p>
          You can create an account and login with full access to all features
          of the app. <br />Alternatively, you can opt to <a href="{{ url_for('search') }}">stay anonymous</a> with
          fewer features.
        </p>
        <p>
          Having an account allows you to create and manage your team, invite
          others to join, and utilize search and filtering options for teams. On
          the other hand, anonymous users are limited to searching and filtering
          teams without the ability to create or manage their own.
        </p>
      </div>

      <div class="wrapper">
        {% with messages = get_flashed_messages(with_categories=True) %} 
        {% if messages %}
        {% for category, message in messages %} 
        {% if category == 'info' %} 
        <div class="alert alert-success" role="alert" style="text-align: center;">
          {{ message }}
        </div>
        {% else %} 
        <div class="alert alert-danger" role="alert" style="text-align: center;">
          {{ message }}
        </div>
        {% endif %}
        {% endfor %} 
        {% endif %}
        {% endwith %}
        <div class="title-text">
          <div class="title login">Login Form</div>
          <div class="title signup">Signup Form</div>
        </div>
        <div class="form-container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked />
            <input type="radio" name="slide" id="signup" />
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
            <form action="{{ url_for('login', next=next) }}" class="login" method="post">
              <div class="field">
                <input type="text" placeholder="Email Address" name="email" required />
              </div>
              <div class="field">
                <input type="password" placeholder="Password" name="password" required />
              </div>
              <div class="pass-link">
                <a href="{{ url_for('reset_request') }}">Forgot password?</a>
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Login" />
              </div>
              <div class="signup-link">
                Not a member? <a href="">Signup now</a>
              </div>
            </form>
            <form action="{{ url_for('signup') }}" class="signup" method="post">
              <div class="field">
                <input type="text" placeholder="Name" name="name" required />
              </div>
              <div class="field">
                <input type="text" placeholder="Username" name="username" required />
              </div>
              <div class="field">
                <input type="text" placeholder="Email Address" name="email" required />
              </div>
              <div class="field">
                <input type="password" placeholder="Password" name="password" required minlength="5"  />
              </div>
              <div class="field">
                <input
                  type="password"
                  placeholder="Confirm password"
                  name="confirm_password"
                  required
                  minlength="5"
                />
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Signup" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      
      
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Team Zone</span></strong
        >. All Rights Reserved
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    {% block script %} {% endblock %}
  </body>
</html>
