{% extends "base.html" %} {% block title %}
<title>My Profile</title>
{% endblock title %} {% block main %}
<div class="row">
  <div class="col-xl-4">
    <div class="card">
      <div
        class="card-body profile-card pt-4 d-flex flex-column align-items-center"
      >
        <img
          src="{{ url_for('static', filename='images/users/{}'.format(current_user.image)) }}"
          alt="Profile"
          class="rounded-circle"
          style="max-width: 100%; height: auto"
        />
        <h2>{{ current_user.name }}</h2>
        <!--<h3>Web Designer</h3>-->
      </div>
    </div>
  </div>

  <div class="col-xl-8">
    <div class="card">
      <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">
          <li class="nav-item">
            <button
              class="nav-link active"
              data-bs-toggle="tab"
              data-bs-target="#profile-overview"
            >
              Overview
            </button>
          </li>

          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#profile-edit"
            >
              Edit Profile
            </button>
          </li>

          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#profile-change-password"
            >
              Change Password
            </button>
          </li>
        </ul>
        <div class="tab-content pt-2">
          <div
            class="tab-pane fade show active profile-overview"
            id="profile-overview"
          >
            <!--<h5 class="card-title">Bio</h5>
            <p class="small fst-italic">
              Sunt est soluta temporibus accusantium neque nam maiores cumque
              temporibus. Tempora libero non est unde veniam est qui dolor. Ut
              sunt iure rerum quae quisquam autem eveniet perspiciatis odit.
              Fuga sequi sed ea saepe at unde.
            </p>-->

            <h5 class="card-title">Profile Details</h5>

            <div class="row">
              <div class="col-lg-3 col-md-4 label">Name</div>
              <div class="col-lg-9 col-md-8">{{ current_user.name }}</div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-4 label">Username</div>
              <div class="col-lg-9 col-md-8">@{{ current_user.username }}</div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-4 label">Email</div>
              <div class="col-lg-9 col-md-8">{{ current_user.email }}</div>
            </div>
          </div>

          <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
            <!-- Profile Edit Form -->
            <form
              action="{{ url_for('profile_edit') }}"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="row mb-3">
                <label for="image" class="col-md-4 col-lg-3 col-form-label"
                  >Image</label
                >
                <div class="col-md-8 col-lg-9">
                  <input
                    name="image"
                    type="file"
                    class="form-control"
                    id="image"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="reset-picture"
                  name="reset-picture"
                />
                <label
                  for="reset-picture"
                  class="col-md-4 col-lg-3 col-form-label"
                  >Use default image</label
                >
              </div>
              <div class="row mb-3">
                <label for="name" class="col-md-4 col-lg-3 col-form-label"
                  >Name</label
                >
                <div class="col-md-8 col-lg-9">
                  <input
                    name="name"
                    type="text"
                    class="form-control"
                    id="name"
                    value="{{ current_user.name }}"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="username" class="col-md-4 col-lg-3 col-form-label"
                  >Username</label
                >
                <div class="col-md-8 col-lg-9">
                  <input
                    name="username"
                    type="text"
                    class="form-control"
                    id="username"
                    value="{{ current_user.username }}"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="email" class="col-md-4 col-lg-3 col-form-label"
                  >Email</label
                >
                <div class="col-md-8 col-lg-9">
                  <input
                    name="email"
                    type="text"
                    class="form-control"
                    id="email"
                    value="{{ current_user.email }}"
                  />
                </div>
              </div>

              <!--<div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="about" class="form-control" id="about" style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                      </div>
                    </div>-->

              <div class="text-center">
                <button type="submit" class="btn btn-primary">
                  Save Changes
                </button>
              </div>
            </form>
            <!-- End Profile Edit Form -->
          </div>

          <div class="tab-pane fade pt-3" id="profile-change-password">
            <!-- Change Password Form -->
            <form action="{{ url_for('change_password') }}" method="post">
              <div class="row mb-3">
                <label
                  for="currentPassword"
                  class="col-md-4 col-lg-3 col-form-label"
                  >Current Password</label
                >
                <div class="col-md-8 col-lg-9">
                  <input
                    name="password"
                    type="password"
                    class="form-control"
                    id="currentPassword"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <label
                  for="newPassword"
                  class="col-md-4 col-lg-3 col-form-label"
                  >New Password</label
                >
                <div class="col-md-8 col-lg-9">
                  <input
                    name="newpassword"
                    type="password"
                    class="form-control"
                    id="newPassword"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <label
                  for="renewPassword"
                  class="col-md-4 col-lg-3 col-form-label"
                  >Re-enter New Password</label
                >
                <div class="col-md-8 col-lg-9">
                  <input
                    name="renewpassword"
                    type="password"
                    class="form-control"
                    id="renewPassword"
                  />
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">
                  Change Password
                </button>
              </div>
            </form>
            <!-- End Change Password Form -->
          </div>
        </div>
        <!-- End Bordered Tabs -->
      </div>
    </div>
  </div>
</div>
{% endblock main %} {% block script %}
<script src="{{ url_for('static', filename='scripts/profile.js')}}"></script>

{% endblock %}
