{% extends "base.html" %} {% block title %}
<title>Team Info</title>
{% endblock title %} {% block style %}
<style>
  #edit-team {
    display: none;
  }
</style>
{% endblock style %} {% block main %} {% if edit %}
<div class="row mb-2">
  <div class="col-xl-12">
    <button id="toggle-btn" type="button" class="btn btn-primary float-end">
      <i class="bi bi-pencil-square me-1"></i> Edit Team
    </button>
  </div>
</div>

<!-- Multi Columns Form -->
<form
  id="edit-team"
  class="row g-3"
  action="{{ url_for('edit_team', id=team.id) }}"
  method="post"
  enctype="multipart/form-data"
>
  <div class="col-md-12">
    <label for="teamname" class="form-label">Team Name</label>
    <input
      name="teamname"
      type="text"
      class="form-control"
      id="teamname"
      value="{{ team.name }}"
    />
  </div>
  <div class="col-md-12">
    <label for="teambio" class="form-label">Team Bio</label>
    <textarea
      name="teambio"
      id="teambio"
      class="form-control"
      style="height: 100px"
    >
{{ team.bio }}</textarea
    >
  </div>
  <div class="col-md-6">
    <label for="teamcountry" class="form-label">Country</label>
    <select id="teamcountry" class="form-select" name="countryid">
      {% for country in countries %} {% if team.city.country_id == country.id %}
      <option value="{{ country.id }}" selected>{{ country.name }}</option>
      {% else %}
      <option value="{{ country.id }}">{{ country.name }}</option>
      {% endif %} {% endfor %}
    </select>
  </div>
  <div class="col-md-6">
    <label for="teamcity" class="form-label">City</label>
    <select id="teamcity" class="form-select" name="cityid">
      {% for city in cities %} {% if team.city_id == city.id %}
      <option value="{{ city.id }}" selected>{{ city.name }}</option>
      {% else %}
      <option value="{{ city.id }}">{{ city.name }}</option>
      {% endif %} {% endfor %}
    </select>
  </div>
  <div class="col-md-12">
    <label for="teamsport" class="form-label">Sport</label>
    <select id="teamsport" class="form-select" name="sportid">
      {% for sport in sports %} {% if team.sport_id == sport.id %}
      <option value="{{ sport.id }}" selected>{{ sport.name }}</option>
      {% else %}
      <option value="{{ sport.id }}">{{ sport.name }}</option>
      {% endif %} {% endfor %}
    </select>
  </div>
  <div class="col-md-12">
    <label for="image" class="col-sm-2 col-form-label">Upload Logo</label>
    <div class="col-sm-10">
      <input
        class="form-control"
        type="file"
        id="image"
        name="image"
        accept="image/jpeg, image/png"
      />
    </div>
  </div>
  <div class="col-md-12">
    <input
      class="form-check-input"
      type="checkbox"
      id="reset-picture"
      name="reset-picture"
    />
    <label for="reset-picture" class="col-md-4 col-lg-3 col-form-label"
      >Use default image</label
    >
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Update Team</button>
  </div>
</form>
{% endif %}
<section id="team-info">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <img
            src="{{ url_for('static', filename='images/teams/{}'.format(team.image)) }}"
            alt="Team Logo"
            class="img-fluid rounded-circle w-50 h-50 mx-auto d-block"
            style="max-width: 100%; height: auto"
          />
          <h5 class="card-title">Team Details</h5>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Name</div>
            <div class="col-lg-9 col-md-8">{{ team.name}}</div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Sport Type</div>
            <div class="col-lg-9 col-md-8">{{ team.sport.name}}</div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Location</div>
            <div class="col-lg-9 col-md-8">
              {{ team.city.name }}, {{ team.city.country.name }}
            </div>
          </div>
        </div>
      </div>

      {% if not edit %}
      <button type="button" class="btn btn-primary">
        <i class="bi bi-pencil-square me-1"></i> Create Team Connection
      </button>
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Team Players</h5>
          <!-- List group Numbered -->
          <ol class="list-group list-group-numbered">
            {% for player in team.players %}
            <li class="list-group-item">{{ player.name }}</li>
            {% endfor %}
          </ol>
          <!-- End List group Numbered -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock main %} {% block script %}
<script src="{{ url_for('static', filename='scripts/team.js')}}"></script>
{% endblock script %}
