{% extends "base.html" %} {% block title %}
<title>Team Info</title>
{% endblock title %} {% block style %}
<style>
  #edit-team {
    display: block;
  }
</style>
{% endblock style %} {% block main %} {% if edit %}
<div class="row mb-2">
  <div class="col-xl-12">
    <div class="float-end">
      <button data-bs-toggle="modal" data-bs-target="#add-member" type="button" class="btn btn-primary">
        <i class="bi bi-person-plus me-1"></i> Add Member
      </button>
      <button data-bs-toggle="modal" data-bs-target="#edit-team" type="button" class="btn btn-primary">
        <i class="bi bi-pencil-square me-1"></i> Edit Team
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-team" tabindex="-1" style="display: none" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit your team</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Multi Columns Form -->
        <form class="row g-3" action="{{ url_for('edit_team', id=team.id) }}" method="post"
          enctype="multipart/form-data">
          <div class="col-md-12">
            <label for="teamname" class="form-label">Team Name</label>
            <input name="teamname" type="text" class="form-control" id="teamname" value="{{ team.name }}" />
          </div>
          <div class="col-md-12">
            <label for="teambio" class="form-label">Team Bio</label>
            <textarea name="teambio" id="teambio" class="form-control" style="height: 100px">
{{ team.bio }}</textarea>
          </div>
          <div class="col-md-12">
            <label for="teamcountry" class="form-label">Country</label>
            <select id="teamcountry" class="form-select" name="country">
              <option selected value="{{ team.city.country.name }}">{{ team.city.country.name }}</option>
            </select>
          </div>
          <div class="col-md-12">
            <label for="teamcity" class="form-label">City</label>
            <select id="teamcity" class="form-select" name="city">
              <option selected value="{{ team.city.name }}">{{ team.city.name }}</option>
            </select>
          </div>
          <div class="col-md-12">
            <label for="teamsport" class="form-label">Sport</label>
            <select id="teamsport" class="form-select" name="sportid">
              {% for sport in sports %}
              {% if team.sport_id == sport.id %}
              <option value="{{ sport.id }}" selected>{{ sport.name }}</option>
              {% else %}
              <option value="{{ sport.id }}">{{ sport.name }}</option>
              {% endif %} 
              {% endfor %}
            </select>
          </div>
          <div class="col-md-12">
            <label for="image" class="col-sm-4 col-form-label">Upload Logo</label>
            <div class="col-sm-10">
              <input class="form-control" type="file" id="image" name="image" accept="image/jpeg, image/png" />
            </div>
          </div>
          <div class="col-md-12">
            <input class="form-check-input" type="checkbox" id="reset-picture" name="reset-picture" />
            <label for="reset-picture" class="col-md-4 col-form-label">Use default image</label>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Update Team</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="add-member" tabindex="-1" style="display: none" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Multi Columns Form -->
        <form class="row g-3" action="{{ url_for('invite_user', team_id=team.id) }}" method="post">
          <div class="col-md-12">
            <label for="username" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" id="username" value=""
              placeholder="Enter the username" />
          </div>
          <div class="col-md-12">
            <label for="request-message" class="form-label">Request message</label>
            <textarea name="request-message" id="request-message" class="form-control" style="height: 100px"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Invite User</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}
<section id="team-info">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <img src="{{ url_for('static', filename='images/teams/{}'.format(team.image)) }}" alt="Team Logo"
            class="img-fluid rounded-circle w-50 h-50 mx-auto d-block" style="max-width: 100%; height: auto" />
          <h5 class="card-title">Team Details</h5>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Name</div>
            <div class="col-lg-9 col-md-8">{{ team.name}}</div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Sport Type</div>
            <div class="col-lg-9 col-md-8">{{ team.sport.name}}</div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Location</div>
            <div class="col-lg-9 col-md-8">
              {{ team.city.name }}, {{ team.city.country.name }}
            </div>
          </div>
        </div>
      </div>

      {% if (not edit) and (connect) %}
      <!-- Vertically centered Modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#team-connection">
        <i class="bi bi-pencil-square me-1"></i> Create Team Connection
      </button>
      <div class="modal fade" id="team-connection" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create A Team Connection</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <p style="text-align: center;">Ready to connect with {{ team.name }}?</p>
            <div class="modal-body">
              {% if current_user.is_authenticated %}
              <form id="team-request" class="row g-3" action="{{ url_for('game_invite') }}" method="post"
                enctype="multipart/form-data">
                <div class="col-md-12">
                  <input name="receiver-team-id" type="text" class="form-control" id="teamid" value="{{ team.id }}"
                    hidden />
                </div>
                <div class="col-md-12">
                  <label for="team2name" class="form-label">Your team</label>
                  <select id="team2" class="form-select" name="sender-team-id">
                    <option value="" selected>Choose one of your teams</option>
                    {% for my_team in current_user.teams %}
                    {% if (current_user.id == my_team.leader.id) and (my_team.sport == team.sport) %}
                    <option value="{{ team.id }}">{{ my_team.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="schedule-date" class="form-label">Schedule Date</label>
                  <input name="schedule-date" type="date" class="form-control" id="schedule-date" />
                </div>
                <div class="col-md-6">
                  <label for="schedule-time" class="form-label">Schedule time</label>
                  <input name="schedule-time" type="time" class="form-control" id="schedule-time" />
                </div>
                <div class="col-md-12">
                  <label for="request-message" class="form-label">Request message</label>
                  <textarea name="request-message" id="request-message" class="form-control"
                    style="height: 100px"></textarea>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Create Connection
                  </button>
                </div>
              </form>
              {% else %}
              <p>Looks like you are not logged in</p>
              <a href="{{ url_for('login') }}" class="btn btn-primary">Login now</a>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Vertically centered Modal-->
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Team Players</h5>
          <!-- List group Numbered -->
          <ol class="list-group list-group-numbered">
            <li class="list-group-item">{{ team.leader.name }} <i class="bi bi-award" style="margin-left: 50%;">Team Leader</i></li>
            {% for player in team.players %}
            {% if player != team.leader %}
            <li class="list-group-item">{{ player.name }}</li>
            {% endif %}
            {% endfor %}
          </ol>
          <!-- End List group Numbered -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock main %} {% block script %}
<script src="{{ url_for('static', filename='scripts/team.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/create.js')}}"></script>
{% endblock script %}