{% extends "base.html" %}

{% block title %}
<title>Team Info</title>
{% endblock title %}

{% block style %}
<style>
  #edit-team {
    display: none;
  }
</style>
{% endblock style %}

{% block main %}
{% if edit %}
<div class="row mb-2">
  <div class="col-xl-12">
    <button id="toggle-btn" type="button" class="btn btn-primary float-end">
      <i class="bi bi-pencil-square me-1"></i> Edit Team
    </button>
  </div>
</div>
{% endif %}

<!-- Multi Columns Form -->
<form id="edit-team" class="row g-3" action="#" method="post">
  <div class="col-md-12">
    <label for="teamname" class="form-label">Team Name</label>
    <input
      type="text"
      class="form-control"
      id="teamname"
      value="{{ team.name }}"
    />
  </div>
  <div class="col-md-12">
    <label for="teambio" class="form-label">Team Bio</label>
    <textarea id="teambio" class="form-control" style="height: 100px">
      {{ team.bio }}
    </textarea
    >
  </div>
  <div class="col-md-6">
    <label for="teamcountry" class="form-label">Country</label>
    <select id="teamcountry" class="form-select">
      <option selected>Choose...</option>
      {% for country in countries %}
      <option>{{ country.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-6">
    <label for="teamcity" class="form-label">City</label>
    <select id="teamcity" class="form-select">
      <option selected>Choose...</option>
      {% for city in cities %}
      <option>{{ city.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-12">
    <label for="teamsport" class="form-label">Sport</label>
    <select id="teamsport" class="form-select">
      <option selected>Choose...</option>
      {% for sport in sports %}
      <option>{{ sport.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-12">
    <label for="teamlogo" class="col-sm-2 col-form-label">Upload Logo</label>
    <div class="col-sm-10">
      <input
        class="form-control"
        type="file"
        id="teamlogo"
        value="{{ team.image }}"
        accept="image/jpeg, image/png"
      />
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Update Team</button>
  </div>
</form>
<section id="team-info">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Team Details</h5>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Name</div>
            <div class="col-lg-9 col-md-8">{{ team.name}}</div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Sport Type</div>
            <div class="col-lg-9 col-md-8">{{ team.sport.name}}</div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Location</div>
            <div class="col-lg-9 col-md-8">
              {{ team.city.name }}, {{ team.city.country.name }}
            </div>
          </div>
        </div>
      </div>

      {% if not edit %}
      <button type="button" class="btn btn-primary">
        <i class="bi bi-pencil-square me-1"></i> Create Team Connection
      </button>
      {% endif %}

    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Team Players</h5>
          <!-- List group Numbered -->
          <ol class="list-group list-group-numbered">
            {% for player in team.players %}
            <li class="list-group-item">{{ player.name }}</li>
            {% endfor %}
          </ol>
          <!-- End List group Numbered -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock main %}

{% block script %}
<script>
  const toggleBtn = document.getElementById("toggle-btn");
  const team = document.getElementById("team-info");
  const myForm = document.getElementById("edit-team");

  toggleBtn.addEventListener("click", function () {
    if (myForm.style.display == "none" || myForm.style.display == "") {
      myForm.style.display = "block";
      team.style.display = "none";
      toggleBtn.innerHTML = '<i class="bi bi-x-square me-1"></i> Stop Editing';
    } else {
      myForm.style.display = "none";
      team.style.display = "block";
      toggleBtn.innerHTML =
        '<i class="bi bi-pencil-square me-1"></i> Edit Team';
    }
  });
</script>
{% endblock script %}
